# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal


# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.venv

# Cython debug symbols
cython_debug/

Termine
.pdm-python
# push script
push.sh

*.svg
notepad.txt
tespytest.py
.tespytestMOD.py
tests
myloggings
tespy_scheme.drawio
logph_diagram_calculated.png
pyproject.toml
.pdm-build
pdm.lock
.pdm-python
thermocycle.html
thermocycle.json
R410A.py
R410A.json
heat_pump.py
tespynotes.txt
design_state.json
